
#header {
    width: 95%;
    margin: auto;
    height: 120px;
    padding: 2%;
    background-image: url("../images/holesteel.jpg");
    background-size: 120px 95%;
    position: fixed;
    top: 0px;
    box-shadow: 15px 15px 15px black;
}

#nav{
    float: right;
    background-image: url("../images/orange.jpg");
    background-size: 100% 100%;
    width: 80%;
    height: 80%;
    margin: 1%;
    box-shadow: 10px 10px 10px black;
}


#navmenu{
    float: left;
    margin: 4%;
    margin-top:2%;
    width: 95%;
    padding-left: 0;
    
}
.list{
    color: #fff;
    display: inline-block;
    margin:0.5%;
    margin-top: 10px;
    padding: 1% 5%;
    background-image: url("../images/brushedsteel.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 12%;
    height: 10%;
    box-shadow: 8px 5px 5px black;
}
#img{
    border: 8px ridge #383838;
    background-image: url("../images/logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    margin-left: 3%;
    width: 12%;
    height: 100%;
    box-shadow: 8px 5px 5px black;
}

#footer{
    border: 3px solid orange;
    width: 90%;
    height: 130px;
    margin: auto;
    margin-top: 5%;
    box-shadow: 8px 5px 5px black;
    background-image: url("../images/holesteel.jpg")
    
}