/*Diamond plate background set up*/
body {
    margin: 0px;
    background-image: url("../images/diamondplate.jpg");
    background-color: black;
    background-size: 100% auto;
}
/*Holds the first main content box*/
#content1{
    width: 70%;
    height: 400px ;
    margin: auto;
    margin-top: 20%;
    background-image: url("../images/brushedsteel.jpg");
    background-color: black;
    background-size: 100% 100%;
    box-shadow: 8px 8px 8px black;
}
/*creates left side where arm logo is*/
#logo{
    width: 300px;
    height: 256px; 
    margin-top: -10px;
    float: left;

    background-image: url("../images/armlogoName.png");
    background-repeat: no-repeat;
    background-size: 300px auto;  
    z-index: 1;  
}
/*Box Around the Arm Logo*/
#armLogoBox {
    width: 300px;
    height: 256px;
    margin: 3%;
    margin-top: 60px;
    margin-left: 120px;
    float: left;
    background-color: rgba(255,140,0,0.25);
    border-radius: 75px;
    border-style: ridge;
    border-width: 8px;
    border-color: rgba(255,140,0,.35);
    box-shadow: 15px 15px 15px black;
}
/*Main login box*/
#login{
    border: 1px solid black;
    width: 40%;
    height: 90%;
    margin: 3%;
    float:right;
    background-image: url("../images/orange.jpg");
    background-color: #ff6a00;
    background-size: 100% 100%;
    box-shadow: 8px 8px 8px black;
}
/*Hold instruction at top of login box*/
#loginHead{
    border: 8px ridge #3a352d;
    width: 90%;
    height: 20%;
    margin: 2% auto;
    color: #fff;
    text-align: center;
    background-image: url("../images/brushedsteel.jpg");
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
/*Holds fields for user input*/
#loginFields{
    border:  8px ridge #3a352d;
    width: 90%;
    height: 65%;
    margin: 3% auto;
    background-image: url("../images/brushedsteel.jpg");
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*Placement of login fields*/
#loginboxes{
    margin-top: 5%  ;
    color: #fff;
    
}

/*Second content frame*/
#content2{
    
    width: 100%;
    height: 1050px;
    margin: auto;
    margin-top: 8%;
    background-color: rgba(255,140,0, 0.35);
	border-radius: 75px;
	border-style: ridge;
	border-width: 8px;
	border-color: rgba(255,140,0,.35);
    box-shadow: 15px 15px 15px black;
}
/*Left column for content*/
#column1 {
    width:25%;
    display: inline-block;
    margin: auto 3% ;
    margin-left: 5%;
    height: 95%;
    
}

/*Center Column for Content*/
#column2 {
    width:25%;
    display: inline-block;
    margin: auto 3%;
    height: 95%; 
}
/*Center column for content*/
#column3 {
    width:25%;
    display: inline-block;
    margin: auto 3%;
    height: 95%;
}
/*Individual Content Boxes class*/
.contentBox{
    border: 5px ridge #3a352d;
    height: 30%;
    width: 100%;
    margin-top: 10%;
    box-shadow: 15px 15px 15px black;
    background-image: url("../images/brushedsteel.jpg");
    background-color: black;
}


/*Content boxes' Heading*/
.contentheading{
    background-image: url("../images/orange.jpg");
    background-color: #ff6a00;
    background-size: 100% 100%;
    color: #fff;
}
/*Text colour white due to dark background*/
p{
    color: #fff;
}

#form{
    list-style: none;
}
.formList{
    margin: 7px;
}
/* Resizing/Scaling Modifications */
#content1 {
    max-width: 1000px;
    min-width: 1000px;
}

#content2 {
    max-width: 1000px;
    min-width: 1000px;
}

#body {
    max-width: 1000px;
    min-width: 1000px;
}
h3{
    color: #fff;
}
img{
    float: left;
    margin: 0px 10px 0px 10px;
    
    max-height: 40%;
    max-width: 60%;
}
