body {
    position: relative;
    border: 1px solid black;
    font-family: Trebuchet MS;
	width: 850px;		
	margin: auto;
	margin-top: 5px;	
	padding-top: 10px;
	padding-bottom: 10px;
}

#header{
    position: relative;
	border-bottom: 1px solid black;
	text-align: center;
}

#footer{
    position: relative;
	border: 1px solid black;
	text-align: center;
	font-size: 80%;
}

#userheader {
    font-size: 50%
}

#userimage {
   position: relative;
   border: 1px solid black;
   width: 128px;
   height: 136px;
}
