/*MAKE A BUTTON *****Done*****
Font and colour and base CSS for everyone
Choose a font and a colour that works for every page
Fix the logo that Francis didn't do right the first time. *****Done*****
comment my css with proper comments
Francis wants me to comment the base css as well.

Upload website to webhost and post all the links in the word doc.*/


html {
	height:100%;
	margin:0;
	padding:0;
}
body {
    margin: 0px;
	padding:0;
    background-image: url("../images/diamondplate.jpg");
    background-size: 100% auto;	
	height: 100%;
}

#wrap{
	min-height: 100%;
	position:relative;
}

#dif_header {
    width: 95%;
    margin: auto;
    height: 120px;
    padding: 2%;
    background-image: url("../images/holesteel.jpg");
    background-size: 120px 95%;
    position: relative;
    top: 0px;
    box-shadow: 15px 15px 15px black;
}
#nav{
    float: right;
    background-image: url("../images/orange.jpg");
    background-size: 100% 100%;
    width: 80%;
    height: 80%;
    margin: 1%;
    box-shadow: 10px 10px 10px black;
}
#navmenu{
    float: left;
    margin: 4%;
    margin-top:2%;
    width: 95%;
    padding-left: 0;    
}
#logo{
    border: 8px ridge #383838;
	background-image: url("../images/logo.gif");	
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    margin-left: 3%;
    width: 12%;
    height: 100%;
    box-shadow: 8px 5px 5px black;
}
.lisst{
    color: #fff;
    display: inline-block;
    margin:0;
    margin-right: 12%;
    padding: 0;    
	width: 12%;
    height: 100%;
 }
h1{
	color: orange;
	text-align:center;
}
#table_holder{	
	position:absolute;
	bottom: 250px;
	left: 50px;
	width: 75%;
	height: 700px;
	background-image: url("../images/brushedsteel.jpg");
	box-shadow: 8px 5px 5px black;
}
.workout_table{
	width:80%;
	height:80%;
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
}
.workout_table td{
	padding:7px;
	border: #3a352d 10px solid; 	
}
.workout_table tr{
	background: #ff7c00;
}
/*.workout_table tr td:nth-child(odd){
	background: #ff7c00;
}

.workout_table tr td:nth-child(even) {
	background: #3a352d;
}*/

.workout_table td:hover {
	background-color: #ffff99;
}

#user{
	background-image: url("../images/brushedsteel.jpg");
	/*Color should be orange #ff7c00*/
	height: 350px;
	color:red;
	width: 250px;
	float: right;
	position:relative;
	top: 50px;
	right: 100px;
	position: center;
	box-shadow: 15px 15px 15px black;
}

#prof_pic{
	width: 90px;
	height: 100px;
	margin-left: 33%;
	margin-right: 33%;
	border-radius: 150px;
}

#ads{
	position:absolute;
	background-image: url("../images/ad_1.jpg");
	background-size: 250px 350px;
	height: 350px;
	width: 250px;		
	top: 650px;
	right: 100px;	
}
#footer{
	color:white;
    border: 3px solid orange;
    width: 95%;
    height: 130px;
    margin: auto;
    margin-top: 5%;
    box-shadow: 8px 5px 5px black;
    background-image: url("../images/holesteel.jpg");
	position: absolute;
    bottom: 0;
    text-align:  center;
}
#content{
	padding-bottom: 650px;
}

.clear{
	clear:both;
}
